
#video-info-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 5px white solid;
}

#video-info-container img {
    border: 5px white solid;
    border-radius: 10px;
    margin: 20px;
}

#video-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#video-info h1 {
    font-size: 20px;
}

#channel-name {
    font-weight: bold;
}

#video-info p {
    color: white;
    margin: 0px;
}